body {
    background-color: #292929;
    color: #eeeeec;
    padding: 30px;

    font-family: monospace, monospace;
    line-height: 1.7;
}

a {
    color: #eeeeec;
}

h3 {
    color: #ca9f00
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #ca9f00;
    color: white;
}